shapely==2.0.2
geos==0.2.3
geojson==3.1.0
paquo==0.7.1
jpype1==1.5.0
dynaconf==3.2.4,!=3.1.0,!=3.1.7
natsort==8.4.0
fastnumbers==5.1.0
numpy==1.26.3
opencv-python-headless==4.9.0.80
tqdm==4.66.1
tensorflow==2.9.2
tensorflow-cpu==2.9.2
segmentation-models==1.0.1
image-classifiers==1.0.0
keras==2.9.0
keras-applications==1.0.8
efficientnet==1.0.0
scikit-image==0.22.0